.center {
    text-align: center;
    padding: 20px;
  }

body {
    background-color: lightblue;
  }

h2 { color: rgb(237, 240, 242); font-size: 20px; padding-left: 20px;}
p2 {color:rgb(111, 175, 203); font-size: 18px; padding-left: 20px;} 
p { color: rgb(237, 240, 242); font-size: 18px; padding-top: 25px;}
a { color: rgb(111, 175, 203); font-size: 20px; padding:30px}

.profile-image {
    width: 150px; /* Adjust the size as needed */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the circle */
    border: 2px solid #fff; /* Optional: Add a border */
  }

  
  /* Dark theme styles */
  body.dark-theme {
    background-color: #333; /* Dark background color */
    color: white; /* Light text color */
    padding-top: 30px;
  }
  
  /* Styles for header and main content */
  header, main {
    padding: 20px;
  }
  
  /* Additional styles specific to dark theme */
  body.dark-theme h1 {
    padding-top: 30px;
    color: #ffa600; /* Orange text color */
    font-size: 30px;
  }
  
div {
    padding: 20px;
}